/* debugger */
/* nav {
    background-color: violet;
} */

/* .banner {
    background-color: rgb(206, 206, 43);  
} */

/* main {
    background-color: rgb(37, 37, 206);
} */

/* .titolo { 
    background-color: lightblue;
} */
/* .section-sx {    
    background-color: lightblue;
} */
/* .section-middle {    
    background-color: lightblue;
} */
/* .section-dx {
    height: 400px;
    background-color: lightblue;
} */

footer {
    background-color: rgb(100, 9, 100);
}
/* /debugger */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.container {
    width: 70%;
    margin: 20px auto;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.color-grey {
    color: rgb(135, 135, 135);
}

.color-white {
    color: white;
}

.bg {
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.bg-size {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


section > p {
    font-size: 12px;
}


/* Header */
#logo > img {
    width: 20%;
    padding-right: 10px;
    border-right: 1px solid rgb(229, 229, 229);
}

.list-inline > li{
    display: inline-block;
    padding: 30px 10px 10px 0;
    list-style: none;
}
.list-inline a {
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: black;
}

.banner {
    height: 400px;
    margin: 20px 0 30px 0; 
    background-image: url("../img/banner.jpg");
}

.banner-testo { 
    padding: 240px 350px 0 40px;
}
.banner-testo > h2 {
    font-weight: 400;
}
.banner-testo > p {
    font-size: 14px;
}

/* Main */
main {
    margin-bottom: 20px;
}

.titolo {
    height: 60px;
    margin-bottom: 20px;
}
.titolo > h1 {
    font-size: 30px;
}

.col {
    float: left;
}

.section-sx,
.section-dx {
    width: 25%;
}

.section-sx-img {
    height: 200px;
    background-image: url("../img/img-1.jpg");
}

.section-middle {
    width: calc(50% - 20px); 
    margin: 0 10px;
}

.section-middle-img {
    height: 200px;
    background-image: url("../img/banner-2.jpg");
}

.section-dx-img {
    height: 200px;
    background-image: url("../img/img-3.jpg");
}

h4 {
    line-height: 40px;
    font-weight: 400;
}

/* Footer */
footer {
    height: 60px;  
}